<div
  #fatherDiv
  class="h-screen overflow-y-scroll grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"
  (scroll)="onScroll()"
  >
  @if (normalGifsAreAviable) {
    @for (gif of gifsList(); track gif.id) {
      <div>
        <app-gifs-list-item
          [normalGifsAreAviable]="normalGifsAreAviable"
          [gifsListItem]="gif"
          >
        </app-gifs-list-item>
      </div>
    }
  } @else {
    @for (gifsList of giphyGifsMatrix(); track $index) {
      <div class="grid gap-4">
        @for (gif of gifsList; track gif.id) {
          <app-gifs-list-item
            [normalGifsAreAviable]="normalGifsAreAviable"
            [giphyGif]="gif"
            >
          </app-gifs-list-item>
        }
      </div>
    }
  }
</div>
